﻿
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ItemName</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Action</th>
            </tr>

        </thead>
        <tbody>
            <tr>
                <td>Item1</td>
                <td>2</td>
                <td>2 * $ 20 = $ 40</td>
                <td>
                    <a ng-click="delete(index)" class="btn btn-primary">
                        <scan class="glyphicon glyphicon-remove"></scan>
                    </a>
                </td>
            </tr>

            <tr>
                <td>Item2</td>
                <td>4</td>
                <td>4 * $ 20 = $ 80</td>
                <td>
                    <a ng-click="delete(index)" class="btn btn-primary">
                        <scan class="glyphicon glyphicon-remove"></scan>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <button class="btn btn-block">Proceed to Checkout   </button>

    <div id="body-image">
        <img src="/project/images/homecooked5.jpg" alt="Event">
    </div>
</div>

