
<h1 id="welcome">Welcome !</h1>

<h2 class="title-text">Interested in awesome home cooked food?</h2>

<h2 class="title-text">OR</h2>
<h2 class="title-text">Interested in minting some money?</h2>
<h2 class="title-text">We provide solutions for many such problems</h2>

<div id="body-image">
    <img src="/project/images/homecooked6.jpg" alt="Event">
</div>

