﻿<h2 id="home2"><a href="#/userHome"> Find variety of home cooked food around you</a></h2>

<h2 id="home2"><a href="#/cook"> Look for customers around</a></h2>

<div id="body-image">
    <img src="/project/images/homecooked5.jpg" alt="Event">
</div>