
<div ng-if="user">
    <h1>Forms</h1>
    <div ng-controller="FormController">
      
        <nav class="navbar">
            <div>
                <ul class="nav nav-tabs">
                    <li role="presentation" ng-class="{'active':$location.url().indexOf('form') != -1}"><a href="#/form">Forms</a></li>
                    <li role="presentation" ng-class="{'active':$location.url().indexOf('form-fields') != -1}"><a href="#/form-fields">Fields</a></li>
                </ul>
            </div>
        </nav>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        <scan class="glyphicon glyphicon-triangle-bottom"></scan>Form Name
                    </th>
                    <th>
                        <scan class="glyphicon glyphicon-triangle-bottom"></scan>Action
                    </th>
                </tr>
                <tr>
                    <td>
                        <input ng-model="formName" class="form-control" type="text" name="Form Name"
                               placeholder="Form Name" />
                    </td>
                    <td>
                        <a ng-click="addForm(formName)" class="btn btn-primary">
                            <scan class="glyphicon glyphicon-plus"></scan>
                        </a>
                        <a ng-click="updateForm(formName)" class="btn btn-success">
                            <scan class="glyphicon glyphicon-ok"></scan>
                        </a>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="form in forms">
                    <td><a href="#/user/{{form.userId}}/form/{{form.id}}/fields">{{form.title}}</a></td>
                    <td>
                        <a ng-click="deleteForm(form)" class="btn btn-danger">
                            <scan class="glyphicon glyphicon-remove"></scan>
                        </a> <a ng-click="selectForm(form)" class="btn btn-warning">
                            <scan class="glyphicon glyphicon-pencil"></scan>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div ng-if="!user">
    <h1>Login to create forms!!!</h1>
</div>

