<!--This is the Login page which is controlled by LoginController, that is any event on this page
    is handeled by LoginController-->

<h1>Login</h1>
<form class="form-horizontal" ng-controller="LoginController">

    <div class="form-group">
        <label for="username" class="col-sm-1 control-label">Username</label>
        <div class="col-sm-8">
            <input ng-model="userName" placeholder="Username" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-1 control-label">Password</label>
        <div class="col-sm-8">
            <input ng-model="password" type="password" class="form-control"
                   placeholder="Password">
        </div>

    </div>

    <div class="form-group">
        <div class="col-sm-1"></div>
        <div>
            <a ng-click="login()" class="btn  btn-default col-sm-8"> Login </a>
        </div>
    </div>
</form>
