<h1>Register</h1>

<form class="form-horizontal" ng-controller="RegisterController">
    <div class="form-group">
        <label for="name" class="col-sm-1 control-label">FirstName</label>
        <div class="col-sm-8">
            <input ng-model="Name" type="text" class="form-control" id="name"
                   placeholder="Name    ">
        </div>
    </div>

    <div class="form-group">
        <label for="lastName" class="col-sm-1 control-label">LastName</label>
        <div class="col-sm-8">
            <input ng-model="lastName" type="text" class="form-control" id="lastName"
                   placeholder="LastName">
        </div>
    </div>

    <div class="form-group">
        <label for="username" class="col-sm-1 control-label">Username</label>
        <div class="col-sm-8">
            <input ng-model="userName" type="text" class="form-control" id="username"
                   placeholder="Username">
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-1 control-label">Password</label>
        <div class="col-sm-8">
            <input ng-model="password" type="password" class="form-control" id="password"
                   placeholder="Password">
        </div>
    </div>
    <div class="form-group">
        <label for="verify password" class="col-sm-1 control-label">Verify Password</label>
        <div class="col-sm-8">
            <input ng-model="verifyPassword" type="password" class="form-control" id="verify password"
                   placeholder="Verify Password">
        </div>
    </div>

    <div class="form-group">
        <label for="email" class="col-sm-1 control-label">Email</label>
        <div class="col-sm-8">
            <input ng-model="email" type="email" class="form-control" id="email"
                   placeholder="Email">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-1"></div>
        <div>

            <a ng-click="register()" class="btn  btn-default col-sm-8"> Register </a>

        </div>
    </div>
</form>

<div id="body-image">
    <img src="/project/images/homecooked5.jpg" alt="Event">
</div>