﻿<h1>Forms-Fields</h1>

<div ng-controller="FieldController">

    <nav class="navbar">
        <div>
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="#/form">Forms</a></li>
                <li role="presentation" ng-class="{'active':$location.url().indexOf('form-fields') != -1}"><a href="#/form-fields">Fields</a></li>
            </ul>
        </div>
    </nav>

    <form class="form-horizontal">
        <div ng-repeat="field in fields">
            <ng-switch on="field.type" ng-model="field.type">
                <div class="form-group" ng-switch-when="TEXT">
                    <label for="text">{{field.label}}</label>
                    <input class="form-control" id="text" type="text" placeholder="{{field.placeholder}}" />
                    <div class="container-fluid">
                        <a>
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a>
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                        <a ng-click="removeField(field.id)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                        <a><span class="glyphicon glyphicon-align-justify"></span></a>
                    </div>
                </div>

                <div class="form-group" ng-switch-when="TEXTAREA">
                    <label for="textarea">{{field.label}}</label>
                    <input class="form-control" id="textarea" type="text" placeholder="{{field.placeholder}}" />
                    <div class="container-fluid">
                        <a>
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a>
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                        <a ng-click="removeField(field.id)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                        <a>
                            <span class="glyphicon glyphicon-align-justify"></span>
                        </a>
                    </div>
                </div>

                <div class="form-group" ng-switch-when="DATE">
                    <label for="date">Date:</label>
                    <input class="form-control" id="date" type="date" placeholder="mm/dd/yyyy" />
                    <div class="container-fluid">
                        <a>
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a>
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                        <a ng-click="removeField(field.id)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                        <a>
                            <span class="glyphicon glyphicon-align-justify"></span>
                        </a>
                    </div>
                </div>

                <div class="form-group" ng-switch-when="OPTIONS">
                    <label for="date">{{field.label}}</label>
                    <select class="form-control">
                        <option value="{{option.value}}" ng-repeat="option in field.options">{{option.label}}</option>
                    </select>

                    <div class="container-fluid">
                        <a>
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a>
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                        <a ng-click="removeField(field.id)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                        <a>
                            <span class="glyphicon glyphicon-align-justify"></span>
                        </a>
                    </div>
                </div>

                <div class="form-group" ng-switch-when="CHECKBOXES">
                    <label for="check">{{field.label}}</label>
                    <div ng-repeat="option in field.options">
                        <input class="checkbox" id="check" type="checkbox" name="{{field.label}}+{{field.id}}" />{{option.label}}
                    </div>

                    <div class="container-fluid">
                        <a>
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a>
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                        <a ng-click="removeField(field.id)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                        <a>
                            <span class="glyphicon glyphicon-align-justify"></span>
                        </a>
                    </div>
                </div>

                <div class="form-group" ng-switch-when="RADIOS">
                    <label for="radio">{{field.label}}</label>
                    <div ng-repeat="option in field.options">
                        <input class="radio" id="radio" type="radio" name="{{field.label}}+{{field.id}}" />{{option.label}}
                    </div>

                    <div class="container-fluid">
                        <a>
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a>
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                        <a ng-click="removeField(field.id)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                        <a>
                            <span class="glyphicon glyphicon-align-justify"></span>
                        </a>
                    </div>
                </div>
            </ng-switch>
        </div>

        <div class="form-group">
            <label for="add">Add New Field:</label>
            <div>
                <div>
                    <select id="add" class="form-control" ng-model="fieldType">
                        <option value="Single Line Text Field">Single Line Text</option>
                        <option value="Multi Line Text Field">Multi Line Text</option>
                        <option value="Date Field">Date</option>
                        <option value="Dropdown Field">Dropdown</option>
                        <option value="Checkboxes Field">Checkboxes</option>
                        <option value="Radio Buttons Field">Radio Buttons</option>
                    </select>
                </div>
                <div class="container-fluid">
                    <a ng-click="addField(fieldType)"><span class="glyphicon glyphicon-plus"></span></a>
                </div>
            </div>
        </div>
    </form>
</div>
