body {
    margin ="10px";
    padding ="10px";
}

.col-md-1 {
    border-right: black solid medium;
    border-top: black solid medium;
    border-bottom: black solid medium;
    border-left: black solid medium;
    font-size: 15px;
}

.contain {
    border-bottom: black solid medium;
    border-top: black solid medium;
    border-right: black solid medium;
    border-left: black solid medium;
    margin-top: 30 px;
    margin-bottom: 30 px;
    margin-left: 30 px;
    margin-right: 30 px;
}

#navigate {
    float = right;
    font-size: 20px;
}

.nav-pills > li {
    float: right;
    font-size: 20px;
}

#upper-header {
    border-bottom: black solid;
    border-right: black solid;
    border-left: black solid;
    border-top: black solid;
}

#tab {
    float: left;
    font-size: 20px;
}

.navigate {
    width: 30%;
    float: right;
}

.header-width {
    width: 70%;
    font-size: 40px;
}

.length {
    border-right: black solid;
    border-bottom: black solid;
    border-top: black solid;
}


.selected fields {
    border-top: black solid thick;
}

.adjust {
}

.add-border {
    border-bottom: black solid;
}

.side {
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
    position: fixed;
    top: 51px;
    bottom: 0;
    background-color: beige;
}

.sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

body {
    padding-top: 50px;
}

#HomePageData {
    font-size: xx-large;
}

.button {
    color: black;
}

#body-image img {
    /* z-index: -1;
	width: 100%;
	position: absolute;
	min-height: 400px; */
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
    opacity: 0.6;
}

.menu {
    padding-top: 1cm;

}

#welcome {
    padding-top: 3cm;
    font-size: 40px;
    color: #1E1E6B;
    text-align: center;
}

.title-text {
    font-size: 40px;
    text-shadow: -1px 0 #EC6952, 0 1px #EC6952, 1px 0 #EC6952, 0 -1px #EC6952;
    text-align: center;
}

#home2 {
    text-align: center;
    padding-top: 2cm;
}

.sellersAround {
    padding-bottom: 1cm;
}

#header-navbar {
    height: 80px;
}

.sidebar-mainpage {
    padding-top: 1.5cm;
}


.header-text-1 {
    font-size: x-large;
    color: aqua;
}

.navbar-brand {
    font-size: xx-large;
    color: aqua;
}

.navbar .nav > li > a {
    color: #6B130A;
    font-weight: bold;
}

.navbar-brand > li > a {
    color: #6B130A;
    font-weight: bold;
}


.navbar {
    background-color: #126C82;
}
