﻿<div class="row">
    <h2>Adam</h2>
    <div class="menu">
        <div class="col-sm-2">
            <a href="#/menu.prof" class="btn btn-danger">MENU</a>
        </div>
        <div class="col-sm-2">
            <a href="#/reciepe" class="btn btn-danger">Reciepes</a>
        </div>
    </div>
</div>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Reviews</th>
            </tr>
        </thead>
        <tbody>
            <tr><td>Comment1</td></tr>
            <tr><td>Comment1</td></tr>
            <tr><td>Comment1</td></tr>
            <tr><td>Comment1</td></tr>

        </tbody>

    </table>
</div>
