﻿/* Move down content because we have a fixed navbar that is 50px tall */


.sidebar {
    font-size: 20px;
    width: 200px;
    padding-left: 0px;
}

    .sidebar li.active a {
        padding-top: 10px;
        font-size: 20px;
        color: #E8E1E4;
        background-color: #4E5755;
    }

body {
    padding-top: 70px;
}

#body-image img {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
    opacity: 0.5;
}

.navbar-brand {
    padding-top: 0.85em;
    font-size: 30px;
}

.navbar .nav > li > a {
    padding-top: 30px;
    font-size: 25px;
    color: #B8B8B8;
    font-weight: bold;
}

.header-text-1 {
    font-size: x-large;
    color: aqua;
    padding-top: 0.5px;
    padding-bottom: 0px;
}

.header-size {
    height: 75px;
}

.miniheader-size {
    font-size: 15px;
    padding-top: 0px;
    width: 1200px;
    height: 40px;
}

.navbar {
    color: #FFFFFF;
    background-color: #131359;
}

.home-nav {
    font-size: 20px;
    color: #2A5557;
}

.categoryName {
    color: #D1150F;
}

.change-color {
    color: #1E1A54;
}

.link-color {
    font-size: 25px;
    color: #D1150F;
}


.glyphicon {
    font-size: 40px;
}
