﻿
<div class="panel-group sidebar" ng-controller="SidebarController">
    <ul class="nav nav-sidebar">
        <li ng-class="{'active' : $location.url().indexOf('home') != -1 ||  $location.url().length === 1}"><a href="#/home" class="change-color">Home</a></li>
        <li ng-class="{'active' : $location.url().indexOf('profile') != -1}"><a href="#/profile" class="change-color">Profile</a></li>
    </ul>
</div>