﻿<div class="row">
    <div class="col-sm-12 sellersAround">
        <h3>Order in Progress</h3>
        <div>
            <label for="status" class="menu">Status of Order</label>
            <div id="status">
                <label><input type="radio" name="status" />Just Started</label>
                <label><input type="radio" name="status" />Reached Midway</label>
                <label><input type="radio" name="status" />Hop for food</label>
                &nbsp;
                &nbsp;
                &nbsp;
            </div>
        </div>
    </div>
</div>

<div class="row menu sellersAround">
    <div class="col-sm-2">
        <a href="#/menu" class="btn btn-danger">MENU</a>
    </div>

    <div class="col-sm-2 sellersAround">
        <a href="#/reciepe" class="btn btn-danger">Reciepes</a>

    </div>

    <div id="body-image">
        <img src="/project/images/homecooked5.jpg" alt="Event">
    </div>
</div>

