﻿<nav class="navbar-inverse miniheader-size" ng-controller="MiniHeaderController">
    <div class="container-fluid">

        <div id="navbar" class="navbar-collapse collapse header-text-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/">About Us</a></li>
                <li><a href="#/">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
