﻿<h1>MENU</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ITEM</th>
            <th>PRICE</th>
            <th> ACTION </th>
        </tr>

    </thead>
    <tbody>
        <tr>
            <td>ITEM1</td>
            <td>$10</td>
            <td>
                <a ng-click="editMenu(formName)" class="btn btn-primary">
                    Add to FoodCart
                </a>
            </td>
        </tr>

    </tbody>

</table>

<div id="body-image">
    <img src="/project/images/homecooked5.jpg" alt="Event">
</div>