﻿
<div class="col-sm-8">
    <form class="navbar-form navbar-left sellersAround">
        <label for="search">Search Cook using location</label>
        <input id="search" type="text" class="form-control" placeholder="Search...">
        <a ng-click="findSeller()" class="btn btn-primary">Find</a>
    </form>

    <form class="navbar-form navbar-right">
        <label>
            <input type="radio" name="subscribe" value="yes"
                   id="checkbox" /> MyLocation
        </label>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Food Suppliers around you</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="#/supplier1">Supplier 1</a> </td>
            </tr>
            <tr>
                <td><a href="#/supplier2">Supplier 2</a> </td>
            </tr>
        </tbody>
    </table>
    <div id="body-image">
        <img src="/project/images/homecooked5.jpg" alt="Event">
    </div>
</div>

