<!--This is the Profile page which is controlled by ProfileController, that is any event on this page
    is handeled by ProfileController-->

<div ng-controller="ProfileController">
    <div ng-if="user">
        <h1>Profile</h1>

        <form class="form-horizontal" ng-controller="ProfileController">

            <div class="form-group">
                <label for="username" class="col-sm-1 control-label">Username</label>
                <div class="col-sm-8">
                    <input type="text" ng-model="userName" class="form-control" id="username"
                           placeholder="Username">
                </div>
            </div>

            <div class="form-group">
                <label for="password" class="col-sm-1 control-label">Password</label>
                <div class="col-sm-8">
                    <input type="text" ng-model="password" class="form-control" id="password"
                           placeholder="Password">
                </div>
            </div>


            <div class="form-group">
                <label for="first name" class="col-sm-1 control-label">
                    First
                    Name
                </label>
                <div class="col-sm-8">
                    <input type="text" ng-model="firstName" class="form-control" id="first name"
                           placeholder="First Name">
                </div>
            </div>

            <div class="form-group">
                <label for="last name" class="col-sm-1 control-label">
                    Last
                    Name
                </label>
                <div class="col-sm-8">
                    <input ng-model="lastName" type="text" class="form-control" id="last name"
                           placeholder="Last Name">
                </div>
            </div>

            <div class="form-group">
                <label for="email" class="col-sm-1 control-label">Email</label>
                <div class="col-sm-8">
                    <input type="text" ng-model="email" class="form-control" id="email"
                           placeholder="Email">
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-1"></div>
                <div class="col-sm-8">
                    <button type="submit" ng-click="update()" class="btn btn-default form-control">Update</button>
                </div>
            </div>

        </form>
    </div>
    <div ng-if="!user">
        <h2>Login to acces this page</h2>
    </div>
</div>
