﻿<table class="table table-striped">
    <thead>
        <tr>
            <th>FoodItem</th>
            <th>Seller</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>FoodItem1</td>
            <td><a href="#/supplier1">Supplier1</a></td>
        </tr>
        <tr>
            <td>FoodItem2</td>
            <td><a href="#/supplier2">Supplier1</a></td>
        </tr>
    </tbody>
</table>

<div id="body-image">
    <img src="/project/images/homecooked5.jpg" alt="Event">
</div>