﻿<nav id="header-navbar"  class="navbar navbar-default navbar-fixed-top" ng-controller="HeaderController">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand header-text">FoodOrderApp</a>
        </div>
        <div class="navbar-collapse collapse header-text-1">
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="!user" ng-class="{'active' : $location.url().indexOf('register') != -1}"><a href="#/register">Register</a></li>
                <li ng-if="!user" ng-class="{'active' : $location.url().indexOf('login') != -1}"><a href="#/login">Login</a></li>
                <li ng-if="user" ng-class="{'active' : $location.url().indexOf('foodCart') != -1}"><a href="#/foodCart">Food Cart</a></li>
                <li ng-if="user"><a href="#/" ng-click="logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
